{{define "page"}}
<div id="hero" class="">
  <p class="text-[var(--primary)] font-bold">Some important subtitle</p>
  <h1 class="text-6xl font-light mb-8">
    All you ever wanted to know<br />
    about something
  </h1>

  <a
    class="border border-[var(--secondary)] my-4 px-8 py-2 bg-[var(--secondary)] hover:bg-indigo-800 text-white rounded-full"
    href="/auth/signup"
  >
    Join us today!
  </a>
</div>
{{ end }}
